<div class='widgetButtons'>
    <button class='configureButton' onclick={{action 'removeWidget'}}>{{fa-icon "close"}}</button>
    <button class='configureButton' onclick={{action 'showConfig'}}>{{fa-icon "cogs"}}</button>
</div>
<div class='configmenu'>
    <form {{action 'configChanged' on='submit'}}>
        <button onclick={{action 'makeTimeSeries'}}>TimeSeries</button>
        <button onclick={{action 'makeDonut'}}>Donut</button>
        <button onclick={{action 'makeBar'}}>Bar</button><br>
        <label>Width</label>{{input type='text' value=widthSetting}}<br>
        <label>Height</label>{{input type='text' value=heightSetting}}
        <button type='submit'>OK</button>
    </form>
</div>

{{component widgetType aggregations=aggregations width=width height=height}}

{{yield}}
