<div class='widgetButtons'>
    <button class='configureButton' onclick={{action 'removeWidget'}}>{{fa-icon "close"}}</button>
    <button class='configureButton' onclick={{action 'showConfig'}}>{{fa-icon "cogs"}}</button>
</div>
<div class='configmenu'>
    <button onclick={{action 'makeTimeSeries'}}>TimeSeries</button>
    <button onclick={{action 'makeDonut'}}>Donut</button>
    <button onclick={{action 'makeBar'}}>Bar</button>
</div>

{{component widgetType aggregations=aggregations}}

{{yield}}
