<div class='ts'></div>

<ul style='padding-bottom: 40px;'>
    <li style='display: inline; float: left; margin-right: 3em;'><strong>Filter articles by type: </strong></li>
    <li style='display: inline; float: left; margin-right: 3em;'>Publication: {{input type='checkbox' checked=tPub}}</li>
    <li style='display: inline; float: left; margin-right: 3em;'>Preprint: {{input type='checkbox' checked=tPre}}</li>
    <li style='display: inline; float: left; margin-right: 3em;'>Creativework: {{input type='checkbox' checked=tCre}}</li>
    <li style='display: inline; float: left; margin-right: 3em;'>Project: {{input type='checkbox' checked=tPro}}</li>
</ul>

{{yield}}
