<div class="list-widget widget-body" style="padding: 0;">
    <div>
        <h3>{{results.title}}</h3>
    </div>
    {{#each data as |item|}}
        <div style="position: relative; clear: both;">
            <div style="cursor: pointer; background-color: #eee; overflow: hidden; position: relative; margin: 0 10px;" href="#" class="list-widget-item" {{action "transitionToFacet" "objectDetail" "id" item._source.id}}>
                <div class="item-number" style="color: #fff; background-color: #aaa; position: absolute; left: 0; top: 0; padding: 3px 7px 3px 7px; font-size: 13px; margin: 0px;">{{item._source.type}}</div>
                <div class="item-number" style="color: #aaa; float: right; font-size: 13px;">{{item._source.date}}</div>
                <div class="item-number" style="color: #666; clear: both; padding-top: 10px;">{{item._source.title}}</div>
                <div class="item-name" style="color: #aaa">
                    {{#each item._source.contributors as |contributor|}}
                        {{contributor}}
                    {{/each}}
                </div>
                <div class="item-number" style="color: #aaa; float: right; clear: both; font-size: 13px;">
                    Published by: {{#each item._source.publishers as |publisher|}}
                        <span>{{publisher}}</span>
                    {{/each}}
                </div>
            </div>
            <div style="padding: 10px; margin-bottom: 20px;">
                <div colspan=4 style="padding: 8px; padding-bottom: 28px;">
                    {{#each item._source.tags as |tag|}}
                        <span {{action "transitionToFacet" "resultsList" "tags" tag on="click"}} style="display: inline-block; font-size: 12px; background-color: #7ec4dd; color: #fff; padding: 2px 5px 2px 5px ; border: 1px solid color: #6ebfd5; border-radius: 3px; margin: 3px; cursor: pointer;">{{tag}}</span>
                    {{/each}}
                </div>
                <div class="item-name" style="cursor: pointer; margin-bottom: 50px; float: right; color: #aaa: padding: 3px 5px 3px 5px;" {{action "transitionToFacet" "objectDetail" "id" item._source.id}}>Details&nbsp;&nbsp;<i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    {{/each}}
</div>
