<div class='{{wrapperClass}}'>
    {{#each widgets as |item|}}
        {{widget-adapter options=addableList addChart=(action "addChart") removeChart=(action 'removeChart') item=item widgets=widgets dashboardSaveWidget=(action 'dashboardSaveWidget') parameters=parameters}}
    {{/each}}
</div>

<!--
<div class='centered'>
    <button class='restore-widget-button' onclick = {{action 'restoreWidgets'}} style = 'clear:both;'>{{fa-icon 'folder-open'}}</button>
    <button class='add-widget-button' onclick={{action 'addChart'}} style='clear:both;'>{{fa-icon 'plus'}}</button>
</div>
-->

{{!-- {{user-feedback-form}} --}}
{{outlet}}
