<div class="object-detail">
    <h1>
        {{{objectData._source.title}}}<br>
        {{#if dataUrl}}
        <a class="btn btn-md object-detail-button" href="{{dataUrl}}">Access Resource</a>
        {{/if}}
    </h1>

    <h3>Resource Type</h3>
    <ul><li>{{objectData._source.type}}</li></ul>

    {{#if objectData._source.publishers}}
        <div>
            <h3>Data Providers</h3>
            <ul>
                {{#each objectData._source.publishers as |publisher|}}
                    <li>{{publisher}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if objectData._source.description}}
        <div><h3>Description</h3>{{objectData._source.description}}</div>
    {{/if}}

    <div>
    {{#if showAllContrib}}
        <h3>Contributors</h3>
        <ul>
            {{#each objectData._source.lists.contributors as |contributor|}}
                <li><a class="pointer" {{action "transitionToFacet" "search" "contributors" contributor.id}}>{{contributor.name}}</a></li>
            {{/each}}
        </ul>
    {{#if hasMoreContrib}}
    <a {{action toggleProperty 'showAllContrib'}} class="toggleContrib">Hide&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-up"}}</a>
    {{/if}}
    {{else}}
        <h3>Contributors</h3>
        <ul>
            {{#each topContrib as |contributor|}}
                <li><a class="pointer" {{action "transitionToFacet" "search" "contributors" contributor.id}}>{{contributor.name}}</a></li>
            {{/each}}
        </ul>
    {{#if hasMoreContrib}}
    <a {{action toggleProperty 'showAllContrib'}} class="toggleContrib">View More&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-down"}}</a>
    {{/if}}
    {{/if}}
    </div>

    {{#if affiliations}}
        <div>
            <h3>Affiliations</h3>
            <ul>
                {{#each affiliations as |affiliation|}}
                  <li>{{affiliation}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if funders}}
        <div>
            <h3>Funders</h3>
            <ul>
                {{#each funders as |funder|}}
                  <li>{{funder.name}}
                    {{#if funder.awardTotal}}
                      : {{funder.currency}}{{funder.awardTotal}}
                    {{/if}}
                  </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if objectData._source.tags}}
        <div><h3>Tags</h3>
            {{#each objectData._source.tags as |tag|}}
                <span class="object-tag" {{action "transitionToFacet" "search" "tags" tag true on="click"}} >{{tag}}</span>
            {{/each}}
        </div>
    {{/if}}

    {{#if identifierURLs}}
        <div>
            <h3>Identifiers</h3>
            <ul>
                {{#each identifierURLs as |identifier|}}
                    <li>
                        <a href="{{identifier}}">{{identifier}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if objectData._source.sources}}
        <div>
            <h3>Sources</h3>
            <ul>
                {{#each objectData._source.sources as |source|}}
                    <li>{{source}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <div>
        <h3>Dates</h3>
        <ul>
            {{#if objectData._source.date_published}}
                <li><strong>First published by Source:</strong> {{objectData._source.date_published}}</li>
             {{/if}}
             {{#if objectData._source.date_updated}}
                <li><strong>Last updated by Source:</strong> {{objectData._source.date_updated}}</li>
             {{/if}}
             {{#if objectData._source.date_modified}}
                <li><strong>Last harvested by SHARE:</strong> {{objectData._source.date_modified}}</li>
            {{/if}}

        </ul>
    </div>

    {{#if showJSON}}
        <h4 {{action toggleProperty 'showJSON'}} class="pointer">Hide Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-up"}}</h4>
        <pre>{{{dataAsString}}}</pre>
    {{else}}
        <h4 {{action toggleProperty 'showJSON'}} class="pointer">View Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-down"}}</h4>
    {{/if}}

</div>
