<div class="object-detail">
    <h1 style="padding: 120px 50px 80px 50px; text-align: center; margin: 0; background-color: #eee; overflow: hidden; position: relative; border-radius: 2px; border-bottom: 1px solid rgba(0,0,0,0.2); margin-bottom: 50px;">
        {{{objectData._source.title}}}<br>
        {{#if dataUrl}}
        <a class="btn btn-md" href="{{dataUrl}}" style="display: inline-block; background-color: #bbb; color: #fff; padding: 10px 30px; font-size: 17px; border-radius: 2px; font-weight: 600; margin-top: 30px;">Access Data</a>
        {{/if}}
    </h1>
    {{#if objectData._source.description}}
        <div><h3>Description</h3>{{objectData._source.description}}</div>
    {{/if}}
    <div><h3>Contributors</h3><ul>
        {{#each objectData._source.lists.contributors as |contributor|}}
            <li><a style="cursor: pointer;" {{action "transitionToFacet" "search" "contributors" contributor.id}}>{{contributor.name}}</a></li>
        {{/each}}
    </ul></div>
    {{#if objectData._source.tags}}
        <div><h3>Tags</h3>
            {{#each objectData._source.tags as |tag|}}
                <span {{action "transitionToFacet" "search" "tags" tag true on="click"}} style="cursor: pointer; display: inline-block; font-size: 12px; background-color: #7ec4dd; color: #fff; padding: 2px 5px 2px 5px ; border: 1px solid color: #6ebfd5; border-radius: 3px; margin: 3px;">{{tag}}</span>
            {{/each}}
        </div>
    {{/if}}
    {{#if objectData._source.publishers}}
        <div>
            <h3>Data Providers</h3>
            <ul>
                {{#each objectData._source.publishers as |publisher|}}
                    <li>{{publisher}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    <div>Date: {{objectData._source.date}}</div>
    <div>Date Created: {{objectData._source.date_created}}</div>
    <div>Date Modified: {{objectData._source.date_modified}}</div>
    <div>Date Published: {{objectData._source.date_published}}</div>
    <div>Date Updated: {{objectData._source.date_updated}}</div>
    <div>Language: {{objectData._source.language}}</div>

    {{#if identifierURLs}}
        <div>
            <h3>Identifiers</h3>
            <ul>
                {{#each identifierURLs as |identifier|}}
                    <li>
                        <a href="{{identifier}}">{{identifier}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <h3>Source Type</h3>
    <ul><li>{{objectData._source.type}}</li></ul>

    {{#if objectData._source.sources}}
        <div>
            <h3>Sources</h3>
            <ul>
                {{#each objectData._source.sources as |source|}}
                    <li>{{source}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if showJSON}}
        <h4 {{action toggleProperty 'showJSON'}} style="font-weight: 600; margin-top: 50px; cursor: pointer;">Hide Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-up"}}</h4>
        <pre style="margin-bottom: 20px;">{{dataAsString}}</pre>
    {{else}}
        <h4 {{action toggleProperty 'showJSON'}} style="font-weight: 600; margin-top: 50px; cursor: pointer;">View Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-down"}}</h4>
    {{/if}}

</div>
