<table style="width: 100%;"class="list-widget widget-body">
    {{#each data as |item|}}
        <tr href="#" class="list-widget-item">
                    <td class="item-number">{{item.number}}</td>
                    <td class="item-name">
                        <a {{ action "transitionToFacet" item.id }}>
                            {{item.name}}
                        </a>
                    </td>
                    <td style="width: 100px;">
                        <a href="http://share.osf.io/agent/{{item.id}}" style="z-index:99">
                            <button class="btn" style='font-size: 11px; padding-bottom: 5px;'>
                                View on SHARE&nbsp;&nbsp;<img src="/images/share-logo-small.png" class="share-small" style="vertical-align: baseline; margin-bottom: -2px;  ">
                            </button>
                        </a>
                    </td>
        </tr>
    {{/each}}
</table>
{{#unless item.hideViewAll}}
    <div class="text-right m-t-md">
        <button class="btn btn-link text-bigger" {{action 'transitionToViewAll' item}}>View all</button>
    </div>
{{/unless}}
