<table style="width: 100%;"class="list-widget widget-body">
    {{#each data as |item|}}
        <tr href="#" class="list-widget-item">
                    <td class="item-number">{{item.number}}</td>
                    <td class="item-name">
                        <a {{ action "transitionToFacet" item.id }}>
                            {{item.name}}
                        </a>
                    </td>
                    <td style="width: 100px;">
                        <button class="btn"{{action "transitionToSHARE" item.id}}>
                            View on SHARE&nbsp;&nbsp;<img src="/images/share-logo-small.png" style="height:20px;">
                        </button>
                    </td>
                    <td class="item-name" style="width: 15px">
                        <a {{ action "transitionToFacet" item.id }}>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </td>
        </tr>
    {{/each}}
</table>
{{#unless item.hideViewAll}}
    <div class="text-right m-t-md">
        <button class="btn btn-link text-bigger" {{action 'transitionToViewAll' item}}>View all</button>
    </div>
{{/unless}}
