<table style="width: 100%;"class="list-widget widget-body">
    {{#each data as |datum|}}
        <tr href="#" class="list-widget-item">
                    <td class="item-number">{{datum.number}}</td>
                    <td class="item-name">
                        <a {{ action "transitionToFacet" datum.id }}>
                            {{datum.name}}
                        </a>
                    </td>
                    {{#unless item.hideSHAREButton}}
                    <td style="width: 100px;">
                        <button class="btn" style='font-size: 11px; padding-bottom: 5px;' {{action "transitionToSHARE" datum.id}}>
                            View on SHARE&nbsp;&nbsp;<img src="/images/share-logo-small.png" style="height:12px; vertical-align: baseline; margin-bottom: -2px;  ">
                        </button>
                    </td>
                    {{/unless}}
        </tr>
    {{/each}}
</table>
{{#unless item.hideViewAll}}
    <div class="text-right m-t-md">
        <button class="btn btn-link text-bigger" {{action 'transitionToViewAll' item}}>View all</button>
    </div>
{{/unless}}
