<div style='display: flex; min-height:100vh; flex-direction: column;'>
<div class='background' style='flex: 1;'>
{{osf-navbar class='fedhead' loginAction=(action 'login')}}
<div class="container">
	{{outlet}}
</div>
</div>
{{osf-footer}}
{{osf-copyright}}
{{osf-mode-footer}}
</div>
