<div class="object-detail">
    <h1>
        {{agentData._source.name}}<br>
        {{#each agentData._source.types as |type|}}
            <span>{{type}}</span>
        {{/each}}
    </h1>
    {{#if agentData._source.description}}
        <div><h3>Description</h3>{{agentData._source.description}}</div>
    {{/if}}
    {{#if agentData._source.identifiers}}
        <div>
            <h3>Identifiers</h3>
            <ul>
                {{#each agentData._source.identifiers as |identifier|}}
                    <li>{{identifier}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    {{#if agentData._source.sources}}
        <div>
            <h3>Sources</h3>
            <ul>
                {{#each agentData._source.sources as |source|}}
                    <li>{{source}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    {{#if showJSON}}
        <h4 {{action toggleProperty 'showJSON'}} class="pointer">Hide Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-up"}}</h4>
        <pre>{{dataAsString}}</pre>
    {{else}}
        <h4 {{action toggleProperty 'showJSON'}} class="pointer">View Raw Data&nbsp;&nbsp;&nbsp;&nbsp;{{fa-icon "chevron-down"}}</h4>
    {{/if}}
</div>
