<div class="widget-body clearfix">
    <div class="widget-number size-{{settings.fontSize}} {{unless settings.noLink 'is-link'}}" style="color:{{settings.fontColor}};">
        <span {{action "transitionToFacet"}}>{{settings.pre}}{{total}}{{settings.post}}</span>
    </div>
</div>
