{{#if (eq mode 'dropdown')}}
    <div class="p-md">
        <select class="form-control" onchange={{action "applyType" value="target.value"}}>
            {{#each dropList key="@identity" as |type|}}
                <option value={{type}} selected={{if (eq selectedType type) true}}>{{type}}</option>
            {{/each}}
        </select>
    </div>
{{/if}}

{{#if (eq mode 'search')}}
<div class="p-md">
    {{input class="form-control" value=filterText placeholder=search key-up="filterVisible" focus-in="showList"}}
    {{#if showList}}
    <div class="dropdown-search">
        {{#each filteredList as |item|}}
            <div class="dropdown-search-item" {{action "applyType" item}}>
                {{item}}
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
{{/if}}
