<div class="object-detail">
    <h1 style="padding: 180px 50px 110px 50px; text-align: center; margin: 0; background-color: #eee; overflow: hidden; position: relative; border-radius: 2px; border-bottom: 1px solid rgba(0,0,0,0.2); margin-bottom: 50px;">
        {{data._source.title}}<br>
        <span style="display: inline-block; background-color: #bbb; color: #fff; padding: 10px 30px; font-size: 17px; border-radius: 2px; font-weight: 600; margin-top: 30px;">{{data._source.type}}</span>
    </h1>
    <div><h5>Description</h5>{{data._source.description}}</div>
    <div><h5>Contributors</h5><ul>
        {{#each data._source.contributors as |contributor|}}
            <li>{{contributor}}</li>
        {{/each}}
    </ul></div>
    <div><h5>Tags</h5>
        {{#each data._source.tags as |tag|}}
            <span {{action "transitionToFacet" "resultsList" "tags" tag on="click"}} style="display: inline-block; font-size: 12px; background-color: #7ec4dd; color: #fff; padding: 2px 5px 2px 5px ; border: 1px solid color: #6ebfd5; border-radius: 3px; margin: 3px;">{{tag}}</span>
        {{/each}}
    </div>
    <div><h5>Publishers</h5><ul>
    {{#each data._source.publishers as |publisher|}}
        <li>{{publisher}}</li>
    {{/each}}
    </ul></div>
    <div>Date: {{data._source.date}}</div>
    <div>Date Created: {{data._source.date_created}}</div>
    <div>Date Modified: {{data._source.date_modified}}</div>
    <div>Date Published: {{data._source.date_published}}</div>
    <div>Date Updated: {{data._source.date_updated}}</div>
    <div>Language: {{data._source.language}}</div>
    <div><h5>Identifiers</h5><ul>
    {{#each data._source.identifiers as |identifier|}}
        <li>{{identifier}}</li>
    {{/each}}
    </ul></div>
    <div><h5>Sources</h5><ul>
    {{#each data._source.sources as |source|}}
        <li>{{source}}</li>
    {{/each}}
    </ul></div>

    <h4 style="font-weight: 600; margin-top: 50px;">Raw JSON</h4>
    <pre style="margin-bottom: 20px;">
{{dataAsString}}
    </pre>
</div>
