<h2>Dashboard</h2>

<p>Search for institution: {{input value=query enter='changeQ'}}</p>

<h3>Showing stats for {{this.q}}</h3>

<div style="float:left;">{{timeseries-chart aggregations=model.aggregations}}</div>
<div style="float:right;">
    <p>Update start date for institutional data: {{input value=g enter='changeGte' size=12}}</p>
    <p>Update end date for institutional data: {{input value=l enter='changeLte' size=12}}</p>
</div>

<div style="margin-top: 75px;">
    <div style="float:left; padding-left:15%;">
        {{donut-chart aggregations=model.aggregations}}
    </div>
    <div style="float:right; padding-right: 15%;">
        {{bar-chart aggregations=model.aggregations querystring=q g=gte l=lte}}
    </div>
</div>

<div style = 'margin-top: 1200px;'>
    <h3>Top works associated with {{this.q}}: {{this.gte}} - {{this.lte}}</h3>
    <ul>
    {{#each model.docs as |doc|}}
        <li>
            <h4><a target='_blank' href='https://share.osf.io/curate/creativework/{{doc.id}}'>{{doc.title}}</a></h4>
            {{#if doc.tags}}
                <ul><strong>Tags:</strong>
                    {{#each doc.tags as |tag|}}
                    <li><a target='_blank' href='https://share.osf.io/discover?tags={{tag}}'>{{tag}}</a></li>
                    {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
    </ul>
</div>

{{outlet}}
