<h2>Dashboard</h2>

<p>Search for institution: {{input value=query enter='changeQ'}}</p>

<h3>Showing stats for {{this.q}}</h3>

<div style="float:left;">{{timeseries-chart aggregations=model.aggregations}}</div>
<div style="float:right;">
    <p>Update start date for institutional data: {{input value=g enter='changeGte'}}</p>
    <p>Update end date for institutional data: {{input value=l enter='changeLte'}}</p>
</div>

<div style="margin-top: 75px;">
    <div style="float:left; padding-left:15%;">{{donut-chart aggregations=model.aggregations}}</div>
    <div style="float:right; padding-right: 15%;">{{bar-chart aggregations=model.aggregations}}</div>
</div>

{{outlet}}
