<h2>Dashboard</h2>

<p>Search for institution: {{input value=query enter='changeQ'}}</p>

<h3>Showing stats for {{this.q}}</h3>

{{timeseries-chart aggregations=model.aggregations}}

<div style="margin-top: 75px;">
    <div style="float:left; padding-left:15%;">{{donut-chart aggregations=model.aggregations}}</div>
    <div style="float:right; padding-right: 15%;">{{bar-chart aggregations=model.aggregations}}</div>
</div>

{{outlet}}
