<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h3>Control Panel:</h3>
                {{#bs-accordion selected=selected}}
                     {{#bs-accordion-item value="1" title="Institution"}}
                        <p>Search for new institution: {{input value=query enter='changeQ'}}</p>
                     {{/bs-accordion-item}}
                     {{#bs-accordion-item value="2" title="Dates"}}
                        <p>Update start date for institutional data: {{input value=g enter='changeGte' size=12}}</p>
                        <p>Update end date for institutional data: {{input value=l enter='changeLte' size=12}}</p>
                     {{/bs-accordion-item}}
                {{/bs-accordion}}
            </div>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12' style='border: solid 1px #efefef;'>
                {{timeseries-chart aggregations=model.aggregations}}
            </div>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            {{#sortable-objects sortableObjectList=sortableObjectList sortEndAction='sortEndAction'}}
                {{#each sortableObjectList as |item|}}
                    {{#draggable-object content=item  overrideClass='sortObject' isSortable=true}}
                        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='border: solid 1px #efefef;'>
                            {{#if item.isOne}}
                                {{donut-chart aggregations=model.aggregations}}
                            {{/if}}
                            {{#if item.isTwo}}
                                {{bar-chart aggregations=model.aggregations querystring=q g=gte l=lte}}
                            {{/if}}
                            {{#if item.isThree}}
                                <p style='height: 290px;'>Wildcard chart!</p>
                            {{/if}}
                        </div>
                    {{/draggable-object}}
                {{/each}}
            {{/sortable-objects}}
        </div>
    </div>
</div>

{{outlet}}
