<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h3>Control Panel:</h3>
                {{#bs-accordion selected=selected}}
                     {{#bs-accordion-item value="1" title="Institution (PoC only)"}}
                        <p>Search for new institution: {{input value=query enter='changeQ'}}</p>
                     {{/bs-accordion-item}}
                     {{#bs-accordion-item value="2" title="Dates"}}
                        <p>Start date for institutional data: {{bootstrap-datepicker value=g autoclose=true changeDate='changeGte'}}</p>
                        <p>Update end date for institutional data: {{bootstrap-datepicker value=l autoclose=true changeDate='changeLte'}}</p>
                     {{/bs-accordion-item}}
                     {{#bs-accordion-item value="3" title="Saved Dashboards"}}
                        <p>Save current dashboard: {{input value=n enter='persistDashboard' placeholder='Dashboard Name'}}</p>
                        <p>Saved dashboards: 
                            <ul>
                                {{#each storedDashboards as |sd|}}
                                <li><a {{action 'restoreDash' sd}}>{{sd.name}}</a></li>
                                {{/each}}
                            </ul>
                        </p>
                     {{/bs-accordion-item}}
                {{/bs-accordion}}
            </div>
        </div>
    </div>
</div>
<!--
<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12' style='border: solid 1px #efefef;'>
                {{timeseries-chart aggregations=model.aggregations interval=tsInterval}}
            </div>
        </div>
    </div>
</div>
-->
<div class='container-fluid'>
    <div class='container'>
        <div class='row'>
            {{#sortable-objects sortableObjectList=sortableObjectList sortEndAction='sortEndAction'}}
                {{#each sortableObjectList as |item|}}
                    {{#draggable-object content=item  overrideClass='sortObject' isSortable=true}}
                        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='border: solid 1px #efefef;'>
                            {{#if item.isDonut}}
                                {{donut-chart aggregations=model.aggregations}}
                            {{/if}}
                            {{#if item.isBar}}
                                {{bar-chart aggregations=model.aggregations querystring=q g=gte l=lte removeChart=(action "removeChart")}}
                            {{/if}}
                            {{#if item.isWildcard}}
                                <p style='height: 290px;'>{{wild-card removeChart=(action "removeChart")}}</p>
                            {{/if}}
                            {{#if item.isPlaceholder}}
                                <p style='height: 290px;'>{{place-holder aggregations=model.aggregations options=addableList addChart=(action "addChart") removeChart=(action 'removeChart') item=item}}</p>
                            {{/if}}
                        </div>
                    {{/draggable-object}}
                {{/each}}
            {{/sortable-objects}}
        </div>
    </div>
</div>

<button onclick={{action 'addChart'}}>Add a Widget</button>

{{outlet}}
